* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Porter", arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #beef00;
  padding: 40px;
}

h1 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0.5%;
  height: 20%;
}

nav {
  position: absolute;
  top: 40px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav a {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #ff0028;
  color: #1400cc;
  padding: 10px 15px;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  background-color: #e60024;
  transform: scale(1.05);
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
}

#game-image {
  width: 50%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
}

#score-counter {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #1400cc;
  text-align: center;
}

#answer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#user-input {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  width: 90%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#submit-button {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #1400cc;
  background-color: #ff0028;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #546600;
}

#feedback {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
  color: #333;
}
