body {
  background-color: #beef00;
}

h1 {
  font-family: "Porter", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #28282b;
}

nav {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: #1400c6;
}
